<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
<div layout:fragment="content" class="container">
    <h2>Quản lý voucher</h2>
    <form method="post" action="/staff/manage/vouchers" class="row g-3 mb-3">
        <div class="col-3"><input name="code" class="form-control" placeholder="Code" required/></div>
        <div class="col-3"><input type="number" name="discountPercent" class="form-control" placeholder="%"/></div>
        <div class="col-3"><input type="number" name="discountValue" class="form-control" placeholder="Giá trị"/></div>
        <div class="col-3"><button class="btn btn-primary">Tạo</button></div>
    </form>

    <h3>Voucher sẵn có</h3>
    <ul>
        <li th:each="v : ${all}"><span th:text="${v.code}"></span> - <span th:text="${v.discountPercent}"></span>% + <span th:text="${v.discountValue}"></span>₫</li>
    </ul>

    <h3>Gán voucher</h3>
    <form method="post" action="/staff/manage/vouchers/assign" class="row g-3">
        <div class="col-4"><input name="code" class="form-control" placeholder="Code" required/></div>
        <div class="col-4"><input name="username" class="form-control" placeholder="Username" required/></div>
        <div class="col-4"><button class="btn btn-primary">Gán</button></div>
    </form>
</div>
</body>
</html>