<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <h2>Dashboard Events Live</h2>
    <div id="events" class="border p-3" style="height: 250px; overflow-y: auto;"></div>
</div>
<script>
    const eventSocket = new SockJS('/ws');
    const eventClient = Stomp.over(eventSocket);
    eventClient.connect({}, function () {
        eventClient.subscribe('/topic/dashboard', function (message) {
            const events = document.getElementById('events');
            events.innerHTML += '<div>' + message.body + '</div>';
            events.scrollTop = events.scrollHeight;
        });
    });
</script>
</body>
</html>